# Dependências
/vendor/

# Configurações locais
.env
.env.local

# Logs
/storage/logs/*.log

# Uploads
/public/uploads/*
!/public/uploads/.gitkeep

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.cache
